.Main {
  background: #EDF7FF;
  padding: 66px 0;
  min-height: 100vh;
  color: #242632;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_countries {
      transition: 0.3s;
      padding: 18px 25px;
      background: #FFFFFF;
      border-radius: 5px;
      select {
        cursor: pointer;
        background: #FFFFFF;
        font-weight: 500;
        font-size: 22px;
        border: none;
        outline: none;
      }
    }
    &_countries:hover{
      transition: 0.3s;
      box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
    }
  }

  &__statistics{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    &_record{
      transition: 0.3s;
      margin-left: 20px;
      padding: 40px 60px 20px;
      background: #1BBC9B;
      border-radius: 5px;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      .recovered{
        font-weight: 700;
        font-size: 100px;
        margin: 30px 0;
      }
    }
    &_record:hover{
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
    }


    &_week {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      &-card {
        transition: 0.3s;
        justify-content: space-between;
        padding: 20px;
        background: #FFFFFF;
        border-radius: 5px;
        display: flex;
        align-items: center;
        width: 800px;
        height: 142px;

        .date {
          font-weight: 500;
          font-size: 22px;
        }

        .statistics {
          display: flex;
          width: 350px;
          flex-direction: column;
          row-gap: 20px;

          &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            span {
              font-weight: 700;
              font-size: 18px;
              padding: 10px;
              background: #EDF7FF;
              border-radius: 5px;
            }
          }

          &__up {
            display: flex;
            column-gap: 20px;
          }

          &__down {
            display: flex;
            column-gap: 20px;
          }
        }
      }
      &-card:hover{
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
      }
    }
  }


}

